body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: black;
}

header{
    margin: 0 auto;
    max-width: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #0E0E0E;
    background-image:
    url('images/background.png');
    position: relative;
}

a:link,
a:visited { 
    text-decoration: none; 
    color: white;
}

header > h6 {
    font-weight: 800;
    font-size: 2.675em;
    line-height: 1.5em;
    margin: 3.8rem 2.625rem 3.8rem 0;
    color: white;
}

header > a:nth-child(2) {
    font-weight: 700;
    font-size: 0.875em;
    line-height: 1.25em;
    margin-right: 2.625rem;
    
}

form {
  display: flex;
  height: 2.375rem;
  width: 80%;
  justify-content: center;
  position: absolute;
  bottom: -1.187rem;
}

input[type="search"],
button[type="submit"]{
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    background-color: white;
}

input:focus{
    outline: none;
}

button[type="submit"] {
    border-radius: 0 6px 6px 0;
    width: 30%;
    font-weight: 500;
    font-size: 0.875em;
    line-height: 1.25em;
    color: #374151;
    cursor: pointer;
}

input[type="search"] {
    width: 80%;
    background: transparent url("images/Search.png") no-repeat 20px center;
    background-position: 3%;
    border-radius: 6px 0 0 6px;
    background-color: white;
    padding-left: 2rem;
}

main {
    margin: 0 auto;
    max-width: 550px;
    min-height: 570px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 4rem;
}

.start-container{
    text-align: center;
    margin: 25% 20%;
}

.start-container > p {
    margin: 0;
    font-weight: 700;
    font-size: 1.125em;
    line-height: 1.25em;
    color: #DFDDDD;
}

.movie-card{
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.movie-image{
    height: 147px;
    width: 99px;
    flex-shrink: 0
}

.movie-image > img{
    width: 100%;
}

.movie-title{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 1rem;
}

.movie-title > h6{
    width: 3rem;
    
}

.movie-title >h5{
    font-weight: 500;
    font-size: 1.125em;
    margin-bottom: 1rem;
}

.movie-properties{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.movie-title h6,
.movie-properties >h6:nth-child(1),
.movie-properties >h6:nth-child(2),
#watchlist-btn,
.movie-description >h6{
    font-weight: 400;
    font-size: 0.75em;
}

#watchlist-btn{
    border: 0;
    background-color: inherit;
    cursor: pointer;
}

.movie-description >h6{
    font-size: 0.875em;
}

h5,
h6{
    margin: 0
}

hr{
    margin: 2rem 2rem;
}

.empty,
.add-movie{
    font-weight: 700;
}

.empty{
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1.125em;
    line-height: 1.75em;
    color: #DFDDDD;
}

.add-wrapper{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap:0.5rem;
}

.add-movie{
    font-size: 0.875em;
    line-height: 1.25em;
    color: #363636;
    cursor: pointer;
}


